:root {
    --mercury: rgb(230 230 230);
    --tin: rgb(127 127 127);
    --lead: rgb(25 25 25);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    color: var(--lead);
    font-family: Arial, Helvetica, sans-serif;
}

header {
    padding: 20px, 35px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    top: 0;
    position: -webkit-sticky;
    position: sticky;
    background-color: var(--tin);
    width: 100%;
}

header h1 {
    font-size: 44px;
    color: var(--mercury);
    text-shadow: 0 0 20px rgba(0 0 0 0.75);
}

header a {
    color: var(--mercury);
    text-decoration: none;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    margin: 50%;
}

header nav ul li a {
    padding: 10px 15px;
    margin: 0;
}

.main-project img {
    width: 100%
}

.run-buddy h2 {
    color: rgb(252 225 56);
    background-color: rgb(57 166 178);
    margin: 15px 30px;
    border
}

.run-buddy p {
    background-color: rgb(57 166 178);
    color: rgb(252 225 56);
}