:root {
    --mercury: rgb(230 230 230);
    --tin: rgb(127 127 127);
    --lead: rgb(25 25 25);
}

* {
    box-sizing: border-box;
    text-decoration: none;
}

body {
    color: var(--lead);
    font-family: Arial, Helvetica, sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    top: 0;
    position: -webkit-sticky;
    position: sticky;
    background-color: var(--tin);
    width: 100%;
}

header h1 {
    font-size: 4.5vh;
    color: var(--mercury);
    text-shadow: 0 0 20px rgba(0 0 0 0.75);
    margin: 15px;
}

header a {
    color: var(--mercury);
    text-decoration: none;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    margin: 30px;
}

header nav ul li a {
    padding: 10px 15px;
    margin: 0;
    font-size: 2vh;
}

.intro {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: var(--tin);
}

.intro h2 {
    color: var(--mercury);
    padding: 1% 1% 5% 1%;
    height: 10%;
    order: 1;
    flex: 1 1 auto;
    border-right: var(--lead) solid;
}

.intro p {
    color: var(--mercury);
    padding: 10px auto;
    width: 66%;
    order: 2;
    flex: 2 1 auto;
    padding: 10px 
}
.projects {
    width: 100%;
    display: flex;
    flex: wrap;
    justify-content: center;
    
}

.projects p {
    display: flex;
    flex: 2 1 auto;
    align-self: flex-end;
}

.projects img { 
    width: 100%;
}
.run-buddy {
    color: rgb(252 225 56);
    background-color: rgb(57 166 178);
}

footer {
    background-color: var(--tin);
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

footer ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    margin: 30px;

}

footer a {
    color: var(--mercury);
    font-size: 15px;
    padding: 10px;
}

/* Create a Media Query for Tablets and Phones to switch view to border-bottom instead of border-right */
@media screen and (max-width: 1082px) {
    

   

    .projects p {
        align-content: stretch;
    }
}

@media screen and (max-width: 768px) {

   
}

@media screen and (max-width: 575px) {
    .intro {
       
        flex-flow: column wrap;
    }
     .intro h2 {
         border-right: none;
         border-bottom: var(--lead) solid;
     }

     .main-project {
         width: 100%;
     }
}